<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.josam.clink.user.UserMapper">
	<insert id="insert">
		INSERT INTO User (
			`userId`, `userName`, `nickname`, `pwd`, `email`, 
			`phoneNumber`, `photoUrl`, `userStatus`, `userSocial`, `userAccessToken`, `userUpdateToken`
		) VALUES (
			#{userId}, #{userName}, #{nickname}, MD5(#{pwd}),   #{email}, #{phoneNumber},
			#{photoUrl}, #{userStatus}, #{userSocial}, #{userAccessToekn}, #{userUpdateToken}
		)
	</insert>
</mapper>




